<div class="container">
  <h2>Make your life happier...</h2>
  <h2>Be adopted by a pet!</h2>
  <h1>PET YOUR LIFE</h1>
  <div data-controller="filter" data-filter-data-value='<%= @data.to_json%>' class="search-bar col-sm-8 offset-sm-2">
    <%= form_tag pets_path, method: :get do %>
      <%= text_field_tag :query,
        params[:query],
        class: "form-control",
        placeholder: "Find a Pet"
      %>
      <div class="teste">
        <%= submit_tag "Search", class: "btn btn-light"  %>
      </div>
      <%= form_with url: pets_path do |f| %>
        <%= f.select :pet_type, Pet::PET_TYPE, {}, {prompt: "Dog or Cat?", data: {
          filter_target: "petSelect",
          action: "change->filter#selectPet"
        }} %>
        <%= f.select :breed, Pet::DOG_BREED, {}, {prompt: "Breed?", data: {
          filter_target: "breedSelect"
        }} %>
        <%= f.select :colour, Pet::COLOUR, prompt: "Colour?"%>
        <%= f.select :colour, Pet::SIZE, prompt: "Size?"%>
        <%= f.select :colour, Pet::AGE, prompt: "Age?"%>
        <%= f.submit %>
      <% end %>
    <% end %>
  </div>

<div>
  <h1><u><em>Encontre aqui o seu melhor amigo</em></u></h1>
</div>
<div class="mx-5">
  <div class="cards">
  <% if @pets.present? %>
    <% @pets.each_with_index do |pet, index| %>
      <%= link_to pet_path(pet) do %>
        <div class="card-trip">
          <% if pet.photo.attached? %>
            <%= cl_image_tag pet.photo.key, height: 300, width: 400, crop: :fill %>
          <% else %>
            <img src= "https://source.unsplash.com/random/?dog" alt="">
          <% end %>
          <div class="card-trip-infos">
            <div>
              <h2><%= pet.name.truncate(30) %></h2>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
    <% else %>
      <h3> No pet found :( </h3>
    <% end %>
  </div>
  </div>
  <br>
<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
  </div>
  <div class="footer-copyright">
    Não compre. Adote! <i class="fas fa-heart"></i>
  </div>
</div>
