<div class="container">
  <h2>Make your life happier...</h2>
  <h2>Be adopted by a pet!</h2>
  <h1>PET YOUR LIFE</h1>
  <div data-controller="filter" data-filter-data-value='<%= @data.to_json%>' class="search-bar col-sm-8 offset-sm-2">
    <%= form_tag pets_path, method: :get do %>
      <%= text_field_tag :query,
        params[:query],
        class: "form-control",
        placeholder: "Find a Pet"
      %>
      <div class="teste">
        <%= submit_tag "Search", class: "btn btn-light"  %>
      </div>
      <%= form_with url: pets_path do |f| %>
        <%= f.select :pet_type, Pet::PET_TYPE, {}, {prompt: "Dog or Cat?", data: {
          filter_target: "petSelect",
          action: "change->filter#selectPet"
        }} %>
        <%#= include a logic where breed is pet_type dependent %>
        <%= f.select :breed, Pet::DOG_BREED, {}, {prompt: "Breed?", data: {
          filter_target: "breedSelect"
        }} %>
        <%= f.select :colour, Pet::COLOUR, prompt: "Colour?"%>
        <%= f.range_field :size, :min=>15, :max=>100, :class=>"slide", :id=>"slider1"%>
        <%= f.submit %>
      <% end %>
    <% end %>
  </div>

  <div class="cards">
  <% if @pets.present? %>
    <% @pets.each_with_index do |pet, index| %>
      <%= link_to pet_path(pet) do %>
        <div class="card-trip">
          <% if pet.photo.attached? %>
            <%= cl_image_tag pet.photo.key, height: 300, width: 400, crop: :fill %>
          <% else %>
            <img src= "https://source.unsplash.com/random/?dog" alt="">
          <% end %>
          <div class="card-trip-infos">
            <div>
              <h2><%= pet.name.truncate(30) %></h2>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
    <% else %>
      <h3> No pet found :( </h3>
    <% end %>
  </div>
  <br>
  <div class="create-button">
    <%= link_to 'Register Pet', new_pet_url, class: 'btn btn-light btn-lg'  %>
  </div>

  <footer>
    <ul>
      <li> <%= link_to 'Terms of Use', terms_path %></li>
      <div class="mid-child">
        <li><%= link_to 'Get in Touch', touch_path %> </li>
      </div>
      <li><%= link_to 'Donate', donate_path %></li>
    </ul>
  </footer>

  </div>
