<h1>Pets#show</h1>
<p>Find me in app/views/pets/show.html.erb</p>

<div class="container">
  <h1><%= @pet.name %></h1>
  <img src=<%= pet.image ? pet.image : "https://source.unsplash.com/random/?pets" %> alt="">
</div>

<div class="show-cards">
  <ul>
    <li><strong>Name:</strong><%= pet.name %></li>
    <li><strong>Breed:</strong><%= pet.breed %></li>
    <li><strong>Weight:</strong><%= pet.weight %></li>
    <li><strong>Size:</strong><%= pet.size %></li>
    <li><strong>Color:</strong><%= pet.color %></li>
    <li><strong>Size:</strong><%= pet.size %></li>
  </ul>
</div>
