<div class="container">
  <div class="pets-show">
    <h1 class="mt-0">Este é <%= @pet.name %></h1>
      <div class="pet-box mt-3">
        <div class="col-6 d-flex justify-content-center">
          <img src=<%= @pet.photo.attached? ? @pet.photo.url : "https://source.unsplash.com/random/?pet&fit=crop&max-h=150&max-w=150" %> class="img-show">
        </div>
          <div class="col-6">
            <div class="show-cards ms-4">
              <div>
              <ul class="list-unstyled">
                <li><strong>Nome: </strong><%= @pet.name %></li>
                <li><strong>Raça: </strong><%= @pet.breed %></li>
                <li><strong>Peso: </strong><%= @pet.weight %>kg</li>
                <li><strong>Tamanho: </strong><%= @pet.size %></li>
                <li><strong>Cor: </strong><%= @pet.colour %></li>
                <li><strong>Descrição: </strong><%= @pet.description %></li>
              </ul>
            <div class="d-inline-flex justify-content-between btn-show">
              <% if current_user %>
                <%= button_to "Adotar", pet_chatrooms_path(@pet), class: 'btn btn-light mt-1' %>
              <% end %>
            <div class="separate-btns">
              <% if policy(@pet).destroy? %>
                <%= link_to 'Remover Pet', pet_path(@pet), method: :delete, class: 'btn btn-light mt-1' %>
              <% end %>
            </div>
          </div>
        </div>
          <ul class="chat">
            <% @chatrooms.each do |chat| %>
            <li><% link_to chat.name, chatroom_path(chat) %></li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
</div>
