<div class="container">
  <h1>Este é <%= @pet.name %></h1>
  <%# <img src=<%= @pet.image ? @pet.image : "https://source.unsplash.com/random/?planet" %>


  <div class="show-cards">
    <ul>
      <li><strong>Nome: </strong><%= @pet.name %></li>
      <li><strong>Raça: </strong><%= @pet.breed %></li>
      <li><strong>Peso: </strong><%= @pet.weight %></li>
      <li><strong>Tamanho: </strong><%= @pet.size %></li>
      <li><strong>Cor: </strong><%= @pet.colour %></li>
      <% if @pet.description.present? %>
      <li><strong>Descrição: </strong><%= @pet.description %></li>
      <% end %>
    </ul>
  </div>
</div>
