<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <div class="logo-test">
      <%= link_to root_path, class: "navbar-brand" do %>
        <%= image_tag "194279.png" %>
        <p class="mb-0 ms-2 mt-1">Pet Your Life</p>
    </div>
    <% end %>

    <div class="create-button">
    <% if current_user  %>
    <%= link_to 'Registrar um Pet', new_pet_url, class: 'btn btn-light mt-3' %>
    <% end %>
    </div>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="search-bar">
    <%= form_tag pets_path, method: :get, class:"d-flex" do %>
      <%= text_field_tag :query,
        params[:query],
        class: "form-control",
        placeholder: "Encontre um Pet"
      %>
      <div>
        <%= submit_tag "Pesquisar", class: "btn btn-light"  %>
      <% end %>
      </div>
    </div>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <% if user_signed_in? %>
          <li class="nav-item">
            <%#= link_to "My Pets", adoptions_path, class: "btn btn-light" %>
          </li>
          <li class="nav-item">
            <%= link_to "Sobre nós", about_path, class: "btn btn-light" %>
          </li>

          <% if current_user %>
            <li class="nav-item dropdown separate-btns">
              <% if current_user.photo.attached? %>
                <%= cl_image_tag current_user.photo.key, crop: :thumb, gravity: :face, class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
              <% else %>
                <%= image_tag 'paw.png', crop: :thumb, gravity: :face, class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
              <% end %>
              <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                <%= link_to "Editar Conta", edit_user_registration_path, class: "dropdown-item" %>
                <%= link_to "Sair", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
              </div>
            </li>
          <% end %>
          <% else %>
            <li class="nav-item">
              <%= link_to "Cadastre-se/Entrar", new_user_session_path, class: "btn btn-light" %>
            </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
