<div class="container">

  <h2>Make your life happier...</h2>
  <h2>Be adopted by a pet!</h2>
  <h1>PET YOUR LIFE</h1>

  <div class="search-bar col-sm-8 offset-sm-2">
    <%= form_tag pets_path, method: :get do %>
      <%= text_field_tag :query,
        params[:query],
        class: "form-control",
        placeholder: "Find a Pet"
      %>
      <div class="teste">
        <%= submit_tag "Search", class: "btn btn-light"  %>
      </div>
    <% end %>
  </div>

  <div class="cards">
  <% if @pets.present? %>
    <% @pets.each_with_index do |pet, index| %>
      <%= link_to pet_path(pet) do %>
        <div class="card-trip">
          <%# <img src=<%= pet.image ? pet.image : "https://source.unsplash.com/random/?dog" %>
          <img src= "https://source.unsplash.com/random/?dog" alt="">
          <div class="card-trip-infos">
            <div>
              <h2><%= pet.name.truncate(30) %></h2>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
    <% else %>
      <h3> No pet found :( </h3>
    <% end %>
  </div>
  <br>
  <div class="create-button">
    <%= link_to 'Register Pet', new_pet_url, class: 'btn btn-light btn-lg'  %>
  </div>

  </div>
